{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    /**
     * Plugin added to fix "Babel 7 - ReferenceError: regeneratorRuntime is not defined"
     */
    ["@babel/plugin-transform-runtime", { "regenerator": true }]
  ]
}
